.card{
    height: 812px;
    width: 375px;
    padding: 50px 24px;
    display: flex;
    flex-direction: column;
    gap: 50px;


    & &__content{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    & &__items-container{
        margin-bottom: 24px;
        height: 315px;        
        border-bottom: 1px solid #C9C9C9;
    }

    & &__buttons-container{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: auto;
    }

    @media (min-width: 480px){
        height: 738px;
        width: 540px;
        padding: 50px;

        & &__items-container{
            height: 234px;
        }
    }
}