.items-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: auto;  
    
    &::-webkit-scrollbar{
        width: 5px;
        background-color: #C9C9C9;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #000;
      }
}