/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
/// 
@import './button';
@import './card';
@import './header';
@import './items-container';
@import './item';
@import './summary';
@import './loader';

#home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}